div.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 50px); // 100vh - footer
    h1 {
        text-transform: uppercase;
        margin-block: 0;
    }
    h2 {
        font-weight: normal;
    }
    > div.team-selection-container {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 60px;
    }
}
